# Dependencies
node_modules/
.pnp/
.pnp.js

# Production
build/
dist/
.next/

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Lock files (удалите эту строку, чтобы package-lock.json попал в репозиторий)
# package-lock.json

# IDE
.vscode/
.idea/

# Railway
.railway/

# OS
Thumbs.db